:root {
  --primary-color: #0d47a1;
}
.content {
  padding: 2rem 0.5rem;
}
.text-center {
  text-align: center;
}
#mobile-demo {
  padding-top: 56px;
}
/* styles for desktop screens */
@media (min-width: 561px) {
  .nav-wrapper {
    padding: 0 1rem;
  }
  .content {
    padding: 2rem 1rem;
  }
}
